# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Pebble symlinks
include
lib
pebble_app.ld
resources/wscript
tools
waf
wscript

# Pebble built objects
build/
.waf*
.lock-waf*
